<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797958467360-se75fhempnrla5d5nhg5a2d4hr7brirk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797958467360-se75fhempnrla5d5nhg5a2d4hr7brirk</string>
	<key>API_KEY</key>
	<string>AIzaSyCBcFNPZlYQaytlUN0yQb5x7zhY7BuBgs0</string>
	<key>GCM_SENDER_ID</key>
	<string>797958467360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andre.BliBliTestProject</string>
	<key>PROJECT_ID</key>
	<string>bliblitestproj</string>
	<key>STORAGE_BUCKET</key>
	<string>bliblitestproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797958467360:ios:a8a7ca03a4715e7af77145</string>
</dict>
</plist>